.container {
  position: absolute;
  top:100px;
  right: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  & > .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgba(0, 128, 0, 0.452);
    font-weight: 600;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: rgb(8, 161, 8);
    }
  }
}