.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 200px;
  background: url(../../../assets/images/wizard.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 50px;
}